@model IEnumerable<ElectriciansForHomeServices.Models.Electrician>

<div class="w3layouts-banner">
    <div class="container">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="agileits_w3layouts_banner_info">
                            <h3>Electrical & Mechanical Services </h3>
                            <p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        </div>
                    </li>
                    <li>
                        <div class="agileits_w3layouts_banner_info">
                            <h3>Safety In The Home</h3>
                            <p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        </div>
                    </li>
                    <li>
                        <div class="agileits_w3layouts_banner_info">
                            <h3>Tools & Specialist Equipment</h3>
                            <p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- flexSlider -->
        <script defer src="js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!-- //flexSlider -->

    </div>
</div>

<!-- services -->
<div class="services">
    <div class="container">
        <div class="agileits_heading_section">
            <h3 class="wthree_head">Welcome to Electricians for Home Services</h3>
            <p class="agileits_w3layouts_para w3_agile_para">A large variety of electricians are available to serve you with their professional services.</p>
        </div>
        <div class="w3layouts_skills_grids w3layouts_featured_services_grids">
            <div class="col-md-6 w3_featured_services_right">
                <img src="~/Content/images/2.jpg" alt=" " class="img-responsive">
            </div>
            <div class="col-md-6 w3_featured_services_left">
                <div class="w3_featured_services_left_grid">
                    <div class="col-xs-4 w3_featured_services_left_gridl">
                        <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                            <i class="hi-icon fa-bolt"> </i>
                        </div>
                    </div>
                    <div class="col-xs-8 w3_featured_services_left_gridr">
                        <h4>Emergency Services</h4>
                        <p>A large variety of electricians are available to serve you with their professional services in case of emergency.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="w3_featured_services_left_grid">
                    <div class="col-xs-4 w3_featured_services_left_gridl">
                        <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                            <i class="hi-icon fa-plug"> </i>
                        </div>
                    </div>
                    <div class="col-xs-8 w3_featured_services_left_gridr">
                        <h4>Commercial Services</h4>
                        <p>A large variety of electricians are available to serve you with their professional services.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="w3_featured_services_left_grid">
                    <div class="col-xs-4 w3_featured_services_left_gridl">
                        <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
                            <i class="hi-icon fa-power-off"> </i>
                        </div>
                    </div>
                    <div class="col-xs-8 w3_featured_services_left_gridr">
                        <h4>Electrical Systems Installation</h4>
                        <p>A large variety of electricians are available to serve you with their professional services.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->
<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <div class="agileits_heading_section">
            <h3 class="wthree_head">What We Do</h3>
            <p class="agileits_w3layouts_para w3_agile_para">Our Services</p>
        </div>

        <div class="agileits_banner_bottom_grid_three">
            <div class="col-md-4 agileinfo_banner_bottom_grid_three_left">
                <div class="wthree_banner_bottom_grid_three_left1 grid">
                    <figure class="effect-roxy">
                        <img src="~/Content/images/12.jpg" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3>Electrician</h3>
                            <p>A large variety of electricians are available to serve you with their professional services.</p>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-md-4 agileinfo_banner_bottom_grid_three_left">
                <div class="wthree_banner_bottom_grid_three_left1 grid">
                    <figure class="effect-roxy">
                        <img src="~/Content/images/13.jpg" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3>Plumber</h3>
                            <p>A large variety of electricians are available to serve you with their professional services.</p>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-md-4 agileinfo_banner_bottom_grid_three_left">
                <div class="wthree_banner_bottom_grid_three_left1 grid">
                    <figure class="effect-roxy">
                        <img src="~/Content/images/14.jpg" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3>Mechanic</h3>
                            <p>A large variety of electricians are available to serve you with their professional services.</p>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //banner-bottom -->
<!-- stats -->
<div class="stats">
    <div class="container">
        <div class="col-md-3 w3_counter_grid">
            <div class="w3_agileits_counter_grid">
                <i class="fa fa-umbrella" aria-hidden="true"></i>
            </div>
            <p class="counter">1,965</p>
            <h3>Orders Completed</h3>
        </div>
        <div class="col-md-3 w3_counter_grid">
            <div class="w3_agileits_counter_grid">
                <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <p class="counter">432</p>
            <h3>Crew Members</h3>
        </div>
        <div class="col-md-3 w3_counter_grid">
            <div class="w3_agileits_counter_grid">
                <i class="fa fa-comments" aria-hidden="true"></i>
            </div>
            <p class="counter">690</p>
            <h3>Million Man-hours</h3>
        </div>
        <div class="col-md-3 w3_counter_grid">
            <div class="w3_agileits_counter_grid">
                <i class="fa fa-book" aria-hidden="true"></i>
            </div>
            <p class="counter">124</p>
            <h3>Counties Covered</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //stats -->
<!-- stats -->
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats -->
<!-- team -->
<div class="banner-bottom">
    <div class="container">
        <div class="agileits_heading_section">
            <h3 class="wthree_head">Avalibale Electricians</h3>
        </div>
        <div class="w3ls_banner_bottom_grids">
            @foreach (var item in Model)
            {
                <div class="col-md-3 agile_team_grid">
                    <div class="agileits_w3layouts_team_grid">
                        <ul class="agileinfo_social_icons">
                            <li><a href="/Home/ElectricianDetails/@item.ElecID" class="wthree_twitter"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        </ul>
                        <img style="height:200px" src="~/Content/AppData/@item.Picture" alt=" " class="img-responsive">
                    </div>

                    <style>
                        td {
                            padding: 4px;
                        }
                    </style>

                    <table style="font-size:12px;width:100%" border="1" class="">
                        <tr>
                            <td colspan="2" style="text-align:center">
                                <h5> @item.Name</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>Rate</td>
                            <td>Rs. @item.RatePerDay</td>
                        </tr>
                        <tr>
                            <td>CNIC</td>
                            <td>@item.CNIC</td>
                        </tr>
                        <tr>
                            <td>Experience</td>
                            <td>@item.ExpYears Years.</td>
                        </tr>
                        <tr>
                            <td>Rate</td>
                            <td>Rs. @item.RatePerDay</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center;padding:8px">
                                <a class="btn btn-primary btn-sm" href="/Home/ElectricianDetails/@item.ElecID">Book Now</a>
                            </td>
                        </tr>
                    </table>

                </div>
            }

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //team -->