@model IEnumerable<ElectriciansForHomeServices.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Booking Requests</h2>
<hr />
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>Actions</th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Electrician.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.WorkStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkEndDate)
            </th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td width="120">
                    <!-- Split button -->
                    <div class="btn-group">
                        <a href="/Adm_Bookings/Details/@item.BookingID" class="btn btn-danger">Details</a>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="~/Adm_Bookings/Approve?id=@item.BookingID">Approve</a></li>
                            <li><a href="~/Adm_Bookings/Reject?id=@item.BookingID">Reject</a></li>
                            <li><a href="~/Adm_Bookings/Postpone?id=@item.BookingID">Postpone</a></li>
                           
                        </ul>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Electrician.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @string.Format("{0:dd MMMM yyyy}", item.BookingDate)
                </td>

                <td>
                    @string.Format("{0:dd MMMM yyyy}", item.WorkStartDate)
                </td>
                <td>
                    @string.Format("{0:dd MMMM yyyy}", item.WorkEndDate)
                </td>


            </tr>
        }

    </table>
</div>
